<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>proxibanqueSIV4</display-name>
  
  
  <welcome-file-list>
    <welcome-file>accueil.xhtml</welcome-file>
  </welcome-file-list>
  
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath:spring/application-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.SKIP_COMMENTS</param-name>
    <param-value>true</param-value>
  </context-param>
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
<!--   <servlet> -->
<!--     <servlet-name>dispatcherServlet</servlet-name> -->
<!--     <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class> -->
<!--     <init-param> -->
<!--       <param-name>contextConfigLocation</param-name> -->
<!--       <param-value>/WEB-INF/mvc-config.xml</param-value> -->
<!--     </init-param> -->
<!--   </servlet> -->
<!--   <servlet-mapping> -->
<!--     <servlet-name>dispatcherServlet</servlet-name> -->
<!--     <url-pattern>/</url-pattern> -->
<!--   </servlet-mapping> -->

<!-- <listener> -->
<!--   <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class> -->
<!-- </listener> -->

  <servlet>
    <servlet-name>Faces Servlet</servlet-name>
    <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faces Servlet</servlet-name>
    <url-pattern>/faces/*</url-pattern>
    <url-pattern>*.xhtml</url-pattern>
  </servlet-mapping>
  
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>dataSource</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <security-role>
    <role-name>conseiller</role-name>
  </security-role>
  <security-constraint>
    <display-name>Test authentification Tomcat</display-name>
    <web-resource-collection>
      <web-resource-name>Pages protegees</web-resource-name>
      <url-pattern>/conseiller/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>Role des administrateurs</description>
      <role-name>conseiller</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
    <display-name>Test authentification Tomcat</display-name>
    <web-resource-collection>
      <web-resource-name>Pages protegees</web-resource-name>
      <url-pattern>/gerant/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <description>Role des administrateurs</description>
      <role-name>gerant</role-name>
    </auth-constraint>
  </security-constraint>
  
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>espace admin</realm-name>
    <form-login-config>
      <form-login-page>/login.jsp</form-login-page>
      <form-error-page>/error.jsp</form-error-page>
    </form-login-config>
  </login-config>
  
</web-app>